<section class="hero">
    <div class="container">
      <p class="tagline">Introducing POSH</p>
      <h1 class="hero-title">Create <span>gorgeous</span> websites effortlessly.</h1>
      <p class="hero-subtitle">Anything you can design, you can design better with modular, high-performing components
        built on top of modern HTML5 & CSS.</p>
      <div class="hero-buttons">
        <a href="#showcase" class="btn btn-primary">Explore Demos</a>
        <a href="#purchase" class="btn btn-outline">Purchase POSH &rarr;</a>
      </div>
    </div>
  </section>